body {
  background-color: #282C32;
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 { 
  margin-top: 4px;
}

p { font-size: 2vmin; }
b { color: darkorange }

hr { 
  margin-top: 24px;
  width: 100%; 
  color: whitesmoke; 
}

.App {
  max-width: 900px;
  min-width: 700px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  font-size: calc(8px + 2vmin);
  color: #DDDEEE;
}

.container {
  display: flex;  
  justify-content: space-between;  
}

input, button {
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 16px;
  border: none;
  height: 30px;
}

input {
  min-width: 200px;
  max-width: 400px;
  padding: 8px;

  background-color: whitesmoke;
}

input:focus {
  outline: groove darkorange;
}

button {
  padding: 0 32px;
  color: whitesmoke;
  background-color: darkcyan;
}

